.cm-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
  border-top: solid 2px var(--col-bg-shadow-soft);
  line-height: 30px;
  font-size: 15.2724px;
  margin-top: -1px;
}

.cm-menu {
  position: relative;
}

.cm-menu-item-list {
  display: none;
}

.cm-active-menu .cm-menu-item-list {
  background-color: var(--col-bg);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.cm-menu-trigger, .cm-menu-item {
  border: none;
  outline: none;
  font: inherit;
  line-height: inherit;
  margin-top: -1px;
  padding: 0 6px;
  background-color: var(--col-bg-shadow-soft);
}

.cm-menu-trigger:focus, .cm-menu-item:focus {
  box-shadow: inset 0 0 0 2px orange;
}

.cm-menu-trigger:hover,
.cm-active-menu .cm-menu-trigger,
.cm-menu-item:hover {
  background-color: var(--col-bg-shadow);
}
