@import url(./scrollbars.css);

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("../FiraCode-VF.woff2") format("woff2");
}

:root {
  --s-1: 12px;
  --s-0-5: calc(var(--s-1) * 0.5);
  --s-1-5: calc(var(--s-1) * 1.5);
  --s-2: calc(var(--s-1) * 2);
  --s-2-5: calc(var(--s-1) * 2.5);
  --s-3: calc(var(--s-1) * 3);
  --font-normal: 19.87px;
  --font-small: 13.25px;
  font-family: Fira Code, monospace;
  color: var(--color-foreground);
  font-size: var(--font-normal);
  line-height: var(--s-2);
}

html,
body {
  height: 100%;
  height: 100%;
}

body {
  background-color: var(--color-background);
  margin: 0;
}

#editor {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  border: none;
}
