.cm-console {
  margin: 0 var(--s-2);
  max-height: 30vh;
}

.cm-console-message {
  margin: 0;
}

.cm-console-message-source {
  position: relative;
  padding: var(--s-0-5);
  margin-left: var(--s-0-5);
  float: right;
  box-shadow: inset 2px 0 var(--color-background), 0 2px var(--color-background);
  z-index: 1;
  user-select: none;
}

.cm-console {
  overflow-y: auto;
}

.cm-console > div.scrolling {
  margin-right: 2px;
}

.cm-console-message:not(:last-child) {
  margin-bottom: var(--s-1);
}

.cm-console-message-content {
  flex: 1;
  overflow-wrap: anywhere;
}

/* .cm-console-message-info .cm-console-message-input,
.cm-console-message-info .cm-console-message-output {
  margin-left: 18px;
  background-color: var(--color-ui-background);
} */

.cm-console-message-info .cm-console-message-source {
  color: var(--col-text-inactive);
}

/* .cm-console-message-error .cm-console-message-input,
.cm-console-message-error .cm-console-message-output {
  background-image: repeating-linear-gradient(
    135deg,
    #6c000050 0px 10px,
    #a6020250 10px 20px
  );
} */

/* .cm-console-message-error .cm-console-message-source {
  color: coral;
} */

.cm-console-message-input,
.cm-console-message-output {
  margin-left: var(--s-2);
  padding: var(--s-0-5);
  position: relative;
  background-color: var(--color-ui-background-inactive);
}

.cm-console-message-input::before,
.cm-console-message-output::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--s-2) * -1);
  width: calc(var(--s-2));
  height: 100%;
  background-color: var(--color-ui-background);
}

.cm-console-message-icon {
  width: var(--s-2);
  height: var(--s-2);
  position: absolute;
  top: var(--s-0-5);
  left: calc(var(--s-2) * -1);
  color: var(--col-text-soft);
}

.cm-console-message-icon svg {
  display: block;
}

.cm-console-message-error .cm-console-message-input,
.cm-console-message-error .cm-console-message-output {
  background-color: #ffd9d580;
}

.cm-console-message-error .cm-console-message-input::before,
.cm-console-message-error .cm-console-message-output::before {
  background-color: crimson;
}

.cm-console-message-error .cm-console-message-icon {
  color: white;
}
