@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("FiraCode-VF.woff2") format("woff2");
}

html,
body {
  height: 100%;
  height: 100%;
}

body {
  background-color: var(--col-bg);
  margin: 0;
}

#editor {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --col-bg: #dad7d4; 
    --col-bg-overlay: #ffffff4C; /* 30% opacity */
    --col-text: #24211f;
    --col-text-soft: #4f4a44;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-bg: #0e0d0c; 
    --col-bg-overlay: #00000033; /* 20% opacity */
    --col-text: #eceae9;
    --col-text-soft: #b5aea8;
  }
}