@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("FiraCode-VF.woff2") format("woff2")
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  background-color: #333;
  margin: 0;
}

#editor {
  flex: 1;
}