@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("FiraCode-VF.woff2") format("woff2");
}

html,
body {
  height: 100%;
  height: 100%;
}

body {
  background-color: #35312f;
  margin: 0;
}

#editor {
  width: 100%;
  height: 100%;
}
